{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <title>JavaScript</title>
    <link rel="stylesheet" href="{% static "book/css/style.css" %}">
    <script src="{% static "book/js/script.js" %}"></script>
    <script src="{% static "book/js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "book/js/jquery-ui-1.10.4.custom.js" %}"></script>
</head>
<body>
<div class="page">
    <div class="logo">
        <a href="#"><img src="{% static "book/css/images/logo.png" %}" height="100" width="100" alt="my logo"> </a>
    </div>
    <div class="heading">
        <h1 id="heading1">Introducing JavaScript</h1>
    </div>
    <div class="navigation">
<nav>
    <ul class="nav">
        <li>
        <a href="#">Home</a>
        </li>
        <li class="drop">
            <a href="#">Library</a>
            <div class="con">
                <a href="#">Mathematics</a>
                <a href="#">Physics</a>
                <a href="#">Actuarial Science</a>
                <a href="#">Statistics</a>
                <a href="#">Education</a>
            </div>
        </li>
        <li class="drop">
            <a href="#">Movies</a>
            <div class="con">
                <a href="#">Action</a>
                <a href="#">Horrow</a>
                <a href="#">Tv Series</a>
                <a href="#">Science Fiction</a>
                <a href="#">Animations</a>
            </div>
        </li>
        <li class="drop">
            <a href="#">Blog</a>
            <div class="con">
                <a href="#">Testimopnies</a>
                <a href="#">Talks</a>
                <a href="#">Seminars</a>
                <a href="#">Debates</a>
                <a href="#">Other Activities</a>
            </div>
        </li>
        <li class="drop">
            <a href="#">Contact Us</a>
            <div class="con">
                <a href="#">Email</a>
                <a href="#">Facebook Page</a>
                <a href="#">Twitter</a>
                <a href="#">Postal</a>
                <a href="#">Chat</a>
            </div>
        </li>
    </ul>
</nav>

    </div>
    <div class="sidebar-left">
        {% block sidebar-left %}
            <h4>Categories</h4>
            <ul>
                <li><a href="#" target="_blank">Pure Mathematics</a> </li>
                <li><a href="#" target="_blank">Applied Mathematics</a> </li>
                <li><a href="#" target="_blank">Statistics</a> </li>
                <li><a href="#" target="_blank">Finance</a> </li>
                <li><a href="#" target="_blank">Physics</a> </li>
                <li><a href="#" target="_blank">Epideomology</a> </li>
                <li><a href="#" target="_blank">Computer Science</a> </li>
                <li><a href="#" onclick="return info();">Additional Information</a> </li>
            </ul>
        {% endblock %}
        </div>
        <div class="sidebar">
            {% block sidebar %}
        <h4>Other Links</h4>
        <ul>
            <li><a href="#" target="_blank">AIMS Website</a></li>
            <li><a href="#" target="_blank">Find me on the map</a></li>
            <li><a href="#" target="_blank">Facebook page</a></li>
        </ul>
            {% endblock %}
    </div>
    <div class="content">
        {% block content %}
        <h2>Let's get started</h2>
        <p>Continuing what we have been doing previously, we shall start by adding some additional structure and CSS induced behaviours, then dive in to the sea of JavaScript</p>
        <p>
            Lets us do the following activities together:
            <ol>
        <li>Instead of aligning all teh text center,  let us align the ones that need this property</li>
        <li>Create an additional div for the left sidebar.</li>
        <li>Define the properties for this div in the css.</li>
        <li>Add the the hover behaviour for the links.</li>
    </ol>
        </p>
        <div class="image">
            <img src="{% static "book/css/images/me.jpg" %}" alt="Meet me", height="400", width="400">

        </div>
        <div class="bartext">
            <h5>More text</h5>
            <p>Continuing what we have been doing previously, we shall start by adding some additional structure and CSS induced behaviours, then dive in to the sea of JavaScript</p>
            <p>
                Lets us do the following activities together:
                <ol>
                    <li>Instead of aligning all teh text center,  let us align the ones that need this property</li>
                    <li>Create an additional div for the left sidebar.</li>
                    <li>Define the properties for this div in the css.</li>
                    <li>Add the the hover behaviour for the links.</li>
                </ol>
            </p>
        </div>
        <div class="subContent">
            <p>
                <h5>Buttons</h5>
                <button type="button" onclick="return rename();">Rename Title</button>
                <button id="opener">Click me</button>

            <div id="modal">
                <p>You have clicked me</p>
            </div>
            </p>
            <p>Forms
                <div id="Forms">
                    <form method='post'>
                        NAME: <input type='text'  name='name' id='name' required/><br />
                        <br />
                        EMAIL: <input type='text' name='email' id='email' required/><br />
                        <br />
                        Website: <input type='text' name='website' id='website' /><br />
                        <br />
                        Date of Birth: <input type='date' name='date of birth' id='date of birth' /><br />
                        <br />
                        Which year are you ? : <input type='datalist' name='which year are you' id='which year are you'>
                        <datalist>
                          <select name="which year are you">
                        <option value="1">1st year</option>
                        <option value="2">2nd year</option>
                        <option value="3">3rd year</option>
                        <option value="4">4th year</option>
                        </select>
                        </datalist><br />
                        <br />
                        <label for=”source”>How did you hear about us?</label>
                      <datalist id=”sources”>
                          <select name=”source”>
                              <option value=”Television”>Television</option>
                              <option value=”Radio”>Radio</option>
                              <option value=”Newspaper”>Newspaper</option>
                              <option>Other</option>
                          </select>
                          If other, please specify:
                      </datalist>
                    <input id=”source” name=”source” list=”sources”><br />
                      Comment:<br />
                      <textarea name='comment' id='comment' /></textarea><br />

                      <input type='hidden' name='articleid' id='articleid' value='<? echo $_GET["id"]; ?>' />

                      <input type='submit' id="success" value='Submit' /><br />
                    </form>
                </div>
            </p>
            <p>
                <h5>JavaScript Forms show/hide</h5>
                <button class="dialog" id="modal-opener">Register</button>
            <div id="hide-form">
                    <form method='post'>
                        NAME: <input type='text'  name='name' id='name' required/><br />
                        <br />
                        EMAIL: <input type='text' name='email' id='email' required/><br />
                        <br />
                        Website: <input type='text' name='website' id='website' /><br />
                        <br />
                        Date of Birth: <input type='date' name='date of birth' id='date of birth' /><br />
                        <br />
                        Which year are you ? : <input type='datalist' name='which year are you' id='which year are you'>
                        <datalist>
                          <select name="which year are you">
                        <option value="1">1st year</option>
                        <option value="2">2nd year</option>
                        <option value="3">3rd year</option>
                        <option value="4">4th year</option>
                        </select>
                        </datalist><br />
                        <br />
                        <label for=”source”>How did you hear about us?</label>
                      <datalist id=”sources”>
                          <select name=”source”>
                              <option value=”Television”>Television</option>
                              <option value=”Radio”>Radio</option>
                              <option value=”Newspaper”>Newspaper</option>
                              <option>Other</option>
                          </select>
                          If other, please specify:
                      </datalist>
                    <input id=”source” name=”source” list=”sources”><br />
                      Comment:<br />
                      <textarea name='comment' id='comment' /></textarea><br />

                      <input type='hidden' name='articleid' id='articleid' value='<? echo $_GET["id"]; ?>' />

                      <input type='submit' id="success" value='Submit' /><br />
                    </form>
                </div>
            </p>

        </div>
        {% endblock %}
    </div>
    <div class="foot">
        <p class="lf">Copyright &copy; 2015 <a href="#">Softdev_Python Group</a> - All Rights Reserved</p>
        <p class="rf"><a href="#" target="_blank">Manage Site</a></p>
    </div>
</div>
<script>
$(function () {
            $("#modal").dialog({
                autoOpen: false,
                width: 300,
                height: 250,
                show: {
                    effect: "explode",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $("#opener").click(function () {
                $("#modal").dialog("open");
            });
        });

    $(function () {
            $("#hide-form").dialog({
                autoOpen: false,
                width: 300,
                height: 250,
                show: {
                    effect: "explode",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $("#modal-opener").click(function () {
                $("#hide-form").dialog("open");
            });
			function onSuccess() {
            $("#hide-form").dialog("close");
        }
        });
</script>
</body>
</html>