{% extends "base.html" %}
{% block content %}
	<h1>Books available in the library </h1>
    {% if books %}

	<table class="sortable" border=”1″>
        <thead>
        <tr>
            <th style="width: 500px">Title</th>
            <th style="width: 400px">Author</th>
            <th style="width: 150px">Edition</th>
            <!--<th style="width: 200px">Checked Out</th>-->
            <th>Borrow</th>
        </tr>
        </thead>
    {% for book in books %}
        <tr>
            <td style="width: 500px"><b><a href="/books/{{ book.id }}">{{book.title}}</a></b></td>
            <td style="width: 400px"><b>{{book.author}}</b></td>
            <td style="width: 150px"><b>{{book.edition}}</b></td>
            <!--<td style="width: 200px">{{ book.check_out }}</td>-->
            <td style="width: auto">{% if book.check_out %}
            <form action="{% url 'returnbook' book.id %}" method="post" style="display: inline-block">{%  csrf_token %} <input id="fsSubmitButton" type="submit" value="Return" style="color: #c8232c"></form> {% else %}
            <form action="{% url 'checkout' book.id %}" method="post" style="display: inline-block">{% csrf_token %}
    <input id="fsSubmitButton" type="submit" value="Borrow" />
</form>{% endif %}</td>
        </tr>
	{% endfor %}
            </table>

<form action="{% url 'new' %}" method="post">{% csrf_token %}
    <input id="fsSubmitButton" type="submit" value="Add a new book" />
</form>
    {% else %}
    <p>The Library is empty</p>
        <form action="{% url 'new' %}" method="post">{% csrf_token %}
    <input id="fsSubmitButton" type="submit" value="Add a new book" />
</form>
    {% endif %}
    {% endblock %}
Blog