{% extends "base.html" %}
{% block content %}
<form action="{% url 'create' %}" method="post" style="display: inline-block">{% csrf_token %}
    {{ form.as_p }}
    <input id="fsSubmitButton" type="submit" value="Create" />
</form>
<form action="/books/" method="post" style="display: inline-block">{% csrf_token %}
    <input id="fsSubmitButton" type="submit" value="Cancel" />
</form>
{% endblock %}