{% extends "base.html" %}
{% block content %}
  <h1>{{book.title}}</h1>
  <body>
    <p><b>Author:</b> {{book.author}}</p>
    <p><b>Publisher:</b> {{book.publisher}}</p>
    <p><b>Isbn:</b> {{book.isbn}}</p>
    <p><b>Check out:</b> {{book.check_out}}</p>
    <p><b>Edition:</b> {{book.edition}}</p>
    <form action="/books/{{ book.id }}/edit" method="post" style="display: inline-block">{% csrf_token %}
      <input id="fsSubmitButton" type="submit" value="Edit" />
    </form>
    <form action="/books/" method="post" style="display: inline-block">{% csrf_token %}
      <input id="fsSubmitButton" type="submit" value="Go back" />
    </form>
  {% endblock %}