/* this is my comment */
body, nav, ul, li, ol, aside, footer, section {
	margin : 0px ; padding: 0px;
}
body {
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-flex:1;
}
.page {
	margin : 20px auto;
	max-width: 1368px;
	border: 1px dashed black;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex:1;
	background-color: antiquewhite;
}
.logo {
	width: 100px;
	border: 1px solid black;
}
.heading {
	border: 1px solid black;
	margin-left: 100px;
	border-top:0px;
	margin-top: -100px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	text-align: center;
	-webkit-box-flex:1;
}
.navigation {
	display: -webkit-box;
	border: 1px solid black;
	margin-left: 100px;
	padding: 20px;
	-webkit-border-radius:25px;
	background:#222222;
}
.navigation ul li{
	list-style: none;
	float: left;
	display: inline-block;
	background-image: url("images/downArrow.png");
	background-repeat: no-repeat;
	background-position: right;
}
.navigation ul li a {
	padding: 20px;
	color: white;
}
.navigation ul li ul li {
	position: absolute;
    left: -9999px;
}
.navigation li li a {
	background-image: url("images/rightArrow.png");
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;

}
.navigation a:hover {background-color: red}
.content {
	border: 1px solid black;
	margin-left: 180px;
	margin-right: 178px;
	text-align: justify;
	-webkit-box-flex:1;
	background-color: white;
}
.content li {
	margin-left: 50px;
}
.content p {
	margin-left: 10px;
	margin-right: 10px;
}
.image {
	border: 1px solid black;
	width: 400px;
	-webkit-border-radius:50px;
}
.bartext {
	margin-top: -400px;
	margin-left: 450px;
	margin-right: 20px;
	border: 1px solid black;
	height: 400px;
}
.subcontent {
	border: 1px solid black;
	margin-top: 500px;
	text-align: left;
}
.subcontent p {
	margin-left: 10px;
	margin-right: 10px;
}
h5 {
	margin-left: 10px;
}
button {
	margin-left: 10px;
}
#Forms {
	border: 1px solid black;
	margin-left: 100px;
	margin-right: 100px;
}
.sidebar {
	border: 1px solid black;
	margin-left: 1190px;
	margin-bottom: -100px;
	width: 175px;
}
.sidebar ul li {
	list-style: none;
}
.sidebar ul li a {
	margin-left: 10px;
}
.sidebar a:hover {background-color: darkkhaki}
.sidebar-left {
	border: 1px solid black;
	margin-right: 800px;
	margin-top: 20px;
	margin-bottom: -190px;
	width: 180px;
}
.sidebar-left ul li {
	list-style: none;
}
.sidebar-left ul li a {
	margin-left: 10px;
}
.sidebar-left a:hover {background-color: darkkhaki}
.foot {
	border: 1px solid black;
	text-align: center;
	background-color: burlywood;
}
.foot a:hover {background-color: dodgerblue}
.con {
	display: none;
	position: absolute;
	background-color: #222222;
	-webkit-border-radius:25px;
}
.con a {
	display: block;
}
.con a:hover {
	background-color: red;
	-webkit-border-radius:25px;
}
.drop:hover .con {
	display: block;
}